<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friendly Bakery</title>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> %>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="top-banner">

            <div class="top-contacts">
                <a href="#">
                    <img src="images/call.svg" alt="phone icon" width="15px">
                    (631)123-4567
                </a>

                <a href="#">
                    <img src="images/envelope.svg" alt="mail icon" width="15px">
                    friendly.admin@bakery.com
                </a>
            </div>

            <div class="top-search">
                <form action="/" method="post">
                    <input id="input-1" type="text" name="search" placeholder="Enter item...">
                    <input type="image" src="images/magnifying-glass.svg" alt="magnifying glass icon" width="15px">
                </form>
            </div>

        </div>

        <div class="hero">
            <img src="images/logo_transparent.png" alt="bakery-logo">
            <div class="menu-bar">
                <a href="#">Shop</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <h1>Be our guest ... 😉</h1>   
            <img class="down-arrow-header" src="images/arrow-down-sign-to-navigate.svg" alt="down arrow icon"> 
        </div>
    </header>

    <main>
        <div class="about-sect">
            <div class="about-title-container">
                <div class="about-box"></div>
                <h2 class="about-title">What We're All About</h2>
                <div class="about-box"></div> 
            </div>

            <div class="about-content">
                <div class="about-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsam, nisi impedit ipsum repudiandae minima asperiores placeat provident in molestias repellat ut vero quibusdam veniam! Eius error earum asperiores dolorem!Atque itaque sunt, fugit modi, assumenda amet similique delectus, quam possimus natus blanditiis ad quibusdam accusantium porro consequuntur. In, nostrum esse. Vitae voluptatibus unde quia cum suscipit recusandae atque eius.</p>
                </div>
                <div class="about-image">
                </div>
            </div>

            <img class="down-arrow-main" src="images/arrow-down-sign-to-navigate.svg" alt="down arrow icon">
        </div>

        <div class="test-sect">
            <div class="test-overlay">
                <div class="test-title-container">
                    <div class="test-box"></div>
                    <h2 class="test-title">See Why People ❤️  Us</h2>
                    <div class="test-box"></div> 
                </div>

                <div class="test-image-container">
                    <div class="test-image">
                        <%# <img src="images/black-leather-jacket-blur-bracelet-775358.jpg" alt="guy smiling"> %>
                        <img src="images/adult-beard-blur-1212984.jpg" alt="guy smiling">
                    </div>

                    <div class="test-image-text">
                        <blockquote>
                            "Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium minus debitis pariatur dolores aliquid repudiandae animi natus reprehenderit distinctio, ab obcaecati at reiciendis, et incidunt ad saepe facere recusandae accusantium?"
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="prod-sect">
            <div class="prod-title-container">
                <div class="prod-box"></div>
                <h2 class="prod-title">Check Out Our Products!</h2>
                <div class="prod-box"></div> 
            </div>

            <nav class="prod-menu">
                <a href="#">Cupackes</a>
                <a href="#">Bread</a>
                <a href="#">Macaroons</a>
                <a href="#">Cake</a>
            </nav>

            <div class="products-container">
                <div class="product">
                    <div class="prod-image">
                        <p class="prod-price">$25</p>
                        <img src="images/baked-butter-cake-1055271.jpg" alt="cupake image 1">
                    </div>
                    <div class="prod-descript">
                        <h3>Baked Butter Cupcake</h3>
                    </div>
                </div>
                <div class="product">
                    <div class="prod-image">
                        <p class="prod-price">$25</p>
                        <img src="images/baked-berry-cake-1055272.jpg" alt="cupake image 2">
                    </div>
                    <div class="prod-descript">
                        <h3>Baked Strawberry Cupcake</h3>
                    </div>
                </div>
                <div class="product">
                    <div class="prod-image">
                        <p class="prod-price">$25</p>
                        <img src="images/baked-berry-cake-1055270.jpg" alt="cupake image 3">
                    </div>
                    <div class="prod-descript">
                        <h3>Baked Strawberry Cupcake (w/ Grapes)</h3>
                    </div>
                </div>
                <div class="product">
                    <div class="prod-image">
                        <p class="prod-price">$25</p>
                        <img src="images/baked-butter-cake-1055271.jpg" alt="cupake image 1">
                    </div>
                    <div class="prod-descript">
                        <h3>Baked Butter Cupcake</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="news-sect">
            <h2>Get New Receipes Weekly!</h2>
            <form action="" method="">
                <input type="text" name="newsletter" placeholder="Enter Email...">
                <button>Enter</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="secondary">
            <div class="footer-container">
                <div class="quick footer-contents">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="hours footer-contents">
                    <h3>Hours of Operation</h3>
                    <ul>
                        <li>Open Daily!!</li>
                        <li><strong>Sunday: </strong>12:00PM - 06:00PM</li>
                        <li><strong>Monday: </strong>09:00AM - 09:00PM</li>
                        <li><strong>Tuesday: </strong>09:00AM - 09:00PM</li>
                        <li><strong>Wednesday: </strong>09:00AM - 09:00PM</li>
                        <li><strong>Thursday: </strong>09:00AM - 09:00PM</li>
                        <li><strong>Friday: </strong>09:00AM - 09:00PM</li>
                        <li><strong>Saturday: </strong>09:00AM - 06:00PM</li>
                    </ul>
                </div>

                <div class="bottom-contacts footer-contents">
                    <h3>Contacts</h3>
                    <ul>
                        <li>
                            <strong>Address:</strong>
                            <li>&emsp;123 Make Believe Street</li>
                            <li>&emsp;Islip Terrace, NY 11752</li>
                        </li>
                        <li>
                            <strong>Phone: </strong>
                            <li>&emsp;(631)123-4567</li>
                        </li>
                        <li>
                            <strong>Email: </strong>
                            <li>&emsp;friendly.admin@bakery.com<li>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="primary">
            <p>Copyright &copy; 2019 Friendly Bakery, Co.</p>
        </div>
    </footer>
</body>
    <%# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script> %>
    <%# Personal JS Script %>
</html>