<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friendly Bakery</title>
    <%# Bootstrap Link %>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="top-banner">

            <div class="top-contacts">
                <a href="#">
                    <img src="images/call.svg" alt="phone icon" width="15px">
                    (631)123-4567
                </a>

                <a href="#">
                    <img src="images/envelope.svg" alt="mail icon" width="15px">
                    friendly.admin@bakery.com
                </a>
            </div>

            <div class="top-search">
                <form action="/" method="post">
                    <input id="input-1" type="text" name="search" placeholder="Enter item...">
                    <input type="image" src="images/magnifying-glass.svg" alt="magnifying glass icon" width="15px">
                </form>
            </div>

        </div>

        <div class="hero">
            <img src="images/logo_transparent.png" alt="bakery-logo">
            <div class="menu-bar">
                <a href="#">Shop</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <div class="overlay"></div>   
            <h1>Be our guest ... 😉</h1>   
            <img class="down-arrow" src="images/arrow-down-sign-to-navigate.svg" alt="down arrow icon"> 
        </div>
    </header>

    <main>

        <div class="about-title">
            <div class="about=box"></div>
            <p>What We're All About</p>
            <div class="about=box"></div>
        </div>
    
    </main>

    <footer>
    
    </footer>
</body>
    <%# Bootstrap Script 1 %>
    <%# Bootstrap Script 1 %>
    <%# Bootstrap Script 1 %>
    <%# Personal JS Script %>
</html>