<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friendly Bakery</title>
    <%# Bootstrap Link %>
    <%# Personal CSS Link %>
</head>
<body>
    <header>
        <div class="top-contacts">
            <a href="../images/phone-call.svg">
                <img src="" alt="phone icon">
                (631)123-4567
            </a>
            <a href="#">
                <img src="../images/envelope.svg" alt="mail icon">
                friendly.admin@bakery.com
            </a>
        </div>
    </header>

    <main>
    
    </main>

    <footer>
    
    </footer>
</body>
    <%# Bootstrap Script 1 %>
    <%# Bootstrap Script 1 %>
    <%# Bootstrap Script 1 %>
    <%# Personal JS Script %>
</html>