<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friendly Bakery</title>
    <%# Bootstrap Link %>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="top-banner">

            <div class="top-contacts">
                <a href="#">
                    <img src="images/call.svg" alt="phone icon" width="15px">
                    (631)123-4567
                </a>

                <a href="#">
                    <img src="images/envelope.svg" alt="mail icon" width="15px">
                    friendly.admin@bakery.com
                </a>
            </div>

            <div class="top-search">
                <form action="/" method="post">
                    <input id="input-1" type="text" name="search" placeholder="Enter item...">
                    <input type="image" src="images/magnifying-glass.svg" alt="magnifying glass icon" width="15px">
                </form>
            </div>

        </div>

        <div class="hero">
            <img src="images/logo_transparent.png" alt="bakery-logo">
            <div class="menu-bar">
                <a href="#">Shop</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
            <%# <div class="overlay"></div>    %>
            <h1>Be our guest ... 😉</h1>   
            <img class="down-arrow-header" src="images/arrow-down-sign-to-navigate.svg" alt="down arrow icon"> 
        </div>
    </header>

    <main class="main-sect">
        <div class="about-title-container">
            <div class="about-box"></div>
            <h2 class="about-title">What We're All About</h2>
            <div class="about-box"></div> 
        </div>

        <div class="about-content">
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsam, nisi impedit ipsum repudiandae minima asperiores placeat provident in molestias repellat ut vero quibusdam veniam! Eius error earum asperiores dolorem!Atque itaque sunt, fugit modi, assumenda amet similique delectus, quam possimus natus blanditiis ad quibusdam accusantium porro consequuntur. In, nostrum esse. Vitae voluptatibus unde quia cum suscipit recusandae atque eius.</p>
            </div>
            <div class="about-image">
            </div>
        </div>

        <img class="down-arrow-main" src="images/arrow-down-sign-to-navigate.svg" alt="down arrow icon">
    </main>

    <footer>
    
    </footer>
</body>
    <%# Bootstrap Script 1 %>
    <%# Bootstrap Script 1 %>
    <%# Bootstrap Script 1 %>
    <%# Personal JS Script %>
</html>