<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friendly Bakery</title>
    <%# Bootstrap Link %>
    <%# Personal CSS Link %>
</head>
<body>
    <header>
        <div class="top-banner">
            <a href="#">
                <img src="images/phone-call.svg" alt="phone icon" width="15px">
                (631)123-4567
            </a>
            <a href="#">
                <img src="images/envelope.svg" alt="mail icon" width="15px">
                friendly.admin@bakery.com
            </a>
            <form action="/" method="post">
                <input type="text" name="search" placeholder="Enter item...">
                <input type="image" src="images/magnifying-glass.svg" alt="magnifying glass icon" width="15px">
            </form>
        </div>
    </header>

    <main>
    
    </main>

    <footer>
    
    </footer>
</body>
    <%# Bootstrap Script 1 %>
    <%# Bootstrap Script 1 %>
    <%# Bootstrap Script 1 %>
    <%# Personal JS Script %>
</html>