/* Color Scheme */
/* 
    Sections of Page (and background colors):
    1. Header
        a. Top Banner --> Bright Color (solid) == PURPLE [#5E55C7]
        b. Hero Image --> Dark Color (overlay) == ARSENIC [#403F4C]
    2. Main
        a. About Section --> Light Color (solid) == PLATINUM [#EDE3E9]
        b. Testimonials --> Bright Color (solid) STIL DE GRAIN YELLOW [#F9DC5C]
        c. Featured Products --> Light Color(solid) == PLATINUM [#EDE3E9]
        d. Newsletter --> Bright Color (solid) == STIL DE GRAIN YELLOW [#F9DC5C]
    3. Footer
        a. Secondary --> Dark Color (overlay) == ARSENIC [#403F4C]
        b. Primary --> Bright Color (solid) == PURPLE [#5E55C7]
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-banner {
    background-color: #5E55C7;
    padding: 10px;
    display: flex;
}

.top-banner .top-contacts {
    display: inline-block;
    margin-left: 15px;
}

.top-banner .top-contacts a {
    color: #EDE3E9;
    text-decoration: none;
    margin-right: 15px;
    border-right: 1px solid #EDE3E9;
    padding-right: 5px;
}


.top-banner .top-search {
    display: inline-block;
    margin-right: 15px;
    margin-left: auto;
}

.top-banner .top-search #input-1 {
    border: 1px solid #EDE3E9;
    border-radius: 2px;
    padding: 2px;
}

/* -------------------------------------------- */

.hero {
    width: 100%;
    height: 94vh; 
    background: url(images/drew-coffman-1872-unsplash.jpg) center center no-repeat;
    background-size: cover;
    display: inline-block;
}

.hero img {
    object-fit: cover;
    height: 90px;
    width: 320px;
    margin-left: 150px;
    margin-top: 50px;
    position: absolute;
}

.hero .menu-bar {
    float: right;
    margin: 80px 150px 0 0;
}

.hero .menu-bar a {
    margin: 10px;
    text-decoration: none;
    color: #EDE3E9;
    font-weight: bold;
    background-color: #5E55C7;
    padding: 10px;
    border-radius: 2px;
}

.hero h1 {
    color: #EDE3E9;
    text-align: center;
    margin-top: 400px;
    font-size: 4em;
    font-style: italic;
}

.hero .down-arrow-header {
    object-fit: cover;
    border: 1.5px solid #5E55C7;
    height: 25px;
    width: 40px;
    margin-left: 610px;
    padding: 10px;
    border-radius: 10px;
}

.hero .down-arrow-header:hover {
    cursor: pointer;
    border: none;
    background-color: #EDE3E9;
}

/* -------------------------------------------- */

.about-sect {
    background-color: #EDE3E9;
    height: 100vh;
}

.about-title-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 30%;
    display: flex;
}

.about-box {
    height: 25px;
    width: 80px;
    display: inline-block;
    margin: 10px 0;
    border-bottom: 2.5px solid #5E55C7;
}
.about-title {
    font-size: 2em;
    width: 180%;
    display: inline-block;
    margin: 10px 0;
    padding-top: 10px;
    color: #5E55C7;
}

.about-content {
    height: 65%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    display: flex;
}

.about-text, .about-image {
    width: 50%;
    height: 100%;
}

.about-text {
    background-color: #403F4C;
    color: #EDE3E9;
}

.about-text p {
    font-size: 1.35em;
    margin: 60px;
}

.about-image {
    background: url(images/beautiful-cute-eyes-1766938.jpg) center center no-repeat;
    background-size: cover;
    background-position: 10% 0;
}

.down-arrow-main {
    object-fit: cover;
    border: 1.5px solid #5E55C7;
    height: 25px;
    width: 40px;
    margin-left: 610px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 35px;
}

.down-arrow-main:hover {
    cursor: pointer;
}

/* -------------------------------------------- */

.test-sect {
    background: url(images/abundance-baked-bakery-205961.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 65vh;
    overflow: hidden;
}

.test-overlay {
    background-color: rgba(44, 39, 16, 0.55);
    height: 65vh;
}

.test-title-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 30%;
    display: flex;
}

.test-box {
    height: 25px;
    width: 80px;
    display: inline-block;
    margin: 10px 0;
    border-bottom: 2.5px solid #EDE3E9;
}

.test-title {
    font-size: 2em;
    width: 700px;
    display: inline-block;
    margin: 10px 0;
    padding-top: 10px;
    color: #EDE3E9;
}

.test-image-container {
    display: flex;
}

.test-image img {
    object-fit: cover;
    object-position: 35% 0; 
    width: 240px;
    height: 225px;
    border-radius: 50%;
    margin-left: 250px;
    margin-top: 50px;
    border: 2px solid #EDE3E9;
}

.test-image-text {
    width: 30%;
    margin-right: 175px;
    margin-left: auto;
    margin-top: 50px;
    padding: 40px;
    font-size: 1.3em;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    color: #EDE3E9;
    border: 1px solid #EDE3E9;
    border-radius: 10px;
}

/* -------------------------------------------- */

.prod-sect {
    background-color: #EDE3E9;
    height: 100vh;
    overflow: hidden;
    /* display: flex; */
}

.prod-title-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 30%;
    display: flex;
}

.prod-box {
    height: 25px;
    width: 80px;
    display: inline-block;
    margin: 10px 0;
    border-bottom: 2.5px solid #5E55C7;
}

.prod-title {
    font-size: 2em;
    width: 2000px;
    display: inline-block;
    margin: 10px 0;
    padding-top: 10px;
    color: #5E55C7;
}

.prod-menu {
    margin-top: 20px;
    /* border: 1.25px solid #403F4C; */
    border-radius: 5px;
    /* background-color: #5E55C7; */
    display: inline-block;
    margin-left: 445px;
    padding: 15px 0;
}

.prod-menu a {
    text-decoration: none;
    color: #EDE3E9;
    background-color: #5E55C7;
    padding: 15px 25px;
    font-weight: bold;
    margin-left: -10px;
    border: 1px solid black;
}

.prod-menu a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.prod-menu a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.prod-menu a:hover {
    background-color: #EDE3E9;
    color: #5E55C7;
}

.products-container {
    width: 85%;
    height: 70%;
}