/* Color Scheme */
/* 
    Sections of Page (and background colors):
    1. Header
        a. Top Banner --> Bright Color (solid) == PURPLE [#5E55C7]
        b. Hero Image --> Dark Color (overlay) == ARSENIC [#403F4C]
    2. Main
        a. About Section --> Light Color (solid) == PLATINUM [#EDE3E9]
        b. Testimonials --> Bright Color (solid) STIL DE GRAIN YELLOW [#F9DC5C]
        c. Featured Products --> Light Color(solid) == PLATINUM [#EDE3E9]
        d. Newsletter --> Bright Color (solid) == STIL DE GRAIN YELLOW [#F9DC5C]
    3. Footer
        a. Secondary --> Dark Color (overlay) == ARSENIC [#403F4C]
        b. Primary --> Bright Color (solid) == PURPLE [#5E55C7]
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-banner {
    background-color: #5E55C7;
    padding: 10px;
    display: flex;
}

.top-banner .top-contacts {
    display: inline-block;
    margin-left: 15px;
}

.top-banner .top-contacts a {
    color: #EDE3E9;
    text-decoration: none;
    margin-right: 15px;
    border-right: 1px solid #EDE3E9;
    padding-right: 5px;
}


.top-banner .top-search {
    display: inline-block;
    margin-right: 15px;
    margin-left: auto;
}

.top-banner .top-search #input-1 {
    border: 1px solid #EDE3E9;
    border-radius: 2px;
    padding: 2px;
}

/* -------------------------------------------- */
.hero {
    width: 100%;
    height: 93vh; 
    background: url(images/drew-coffman-1872-unsplash.jpg) center center no-repeat fixed;
    background-size: cover;
    display: inline-block;
    position: absolute;
    z-index: -2;
}

.overlay {
    width: 100%;
    height: 93vh; 
    background-color: #403F4C;
    opacity: 0.30;
    position: absolute;
    z-index: -1;
}

.hero img {
    object-fit: cover;
    height: 90px;
    width: 320px;
    margin-left: 150px;
    margin-top: 50px;
    position: absolute;
}

.hero .menu-bar {
    float: right;
    margin: 80px 150px 0 0;
}

.hero .menu-bar a {
    margin: 10px;
    text-decoration: none;
    color: #EDE3E9;
    font-weight: bold;
    background-color: #5E55C7;
    padding: 10px;
    border-radius: 2px;
}

.hero h1 {
    color: #EDE3E9;
    text-align: center;
    margin-top: 400px;
    font-size: 4em;
    font-style: italic;
}

.hero .down-arrow {
    object-fit: cover;
    border: 1.5px solid #5E55C7;
    height: 25px;
    width: 40px;
    margin-left: 590px;
    padding: 10px;
    border-radius: 10px;
}

.hero .down-arrow:hover {
    cursor: pointer;
    border: none;
    background-color: #EDE3E9;
}